# 서브쿼리?

하나의 쿼리 안에 포함된 또 하나의 쿼리<br>
메인 쿼리가 서브쿼리를 포함하는 종속적인 관계<br>
<br>
<br>
## 서브쿼리 특징

- 알려지지 않은 기준을 이용한 검색에 유용
- 메인 쿼리가 실행되기 이전에 한 번만 실행
- 한 문장에서 여러 번 사용 가능

<br>
<br>

## 서브쿼리 사용 시 주의 사항

1. 서브쿼리는 괄호와 함께 사용되어야 한다.
2. 서브쿼리 안에서 ORDER BY 절은 사용할 수 없다.
3. 서브쿼리는 연산자의 오른쪽에 사용되어야 한다.
4. 서브쿼리는 오로지 SELECT문으로만 작성 할 수 있다.

# 단일 행 서브쿼리

결과가 한 행만 나오는 서브쿼리<br>
서브쿼리가 결과를 1개의 값만 반환하고, 이 결과를 메인쿼리로 전달하는 쿼리

### 단일 행 서브쿼리 1
지시사항
1. emp테이블을 조회해주세요.
2. 사원 번호가 7인 사원보다 나이가 어린 사원을 조회하는 쿼리를 작성하세요.

```sql
SELECT * FROM emp;
SELECT * 
FROM emp
WHERE birthdate>
(SELECT birhtdate
FROM emp
WHERE empnum = 7);
```

### 단일 행 서브쿼리 2
지시사항
1. emp테이블을 조회해주세요.
2. 전 사원의 급여 평균보다 낮은 급여를 받는 사원을 조회하는 쿼리를 작성하세요.

```sql
SELECT * FROM emp;

SELECT * 
FROM emp
WHERE sal<
(SELECT avg(sal)
 FROM emp)
```

### 단일 행 서브쿼리 3
지시사항<br>
emp테이블에서 부서번호가 40인 부서의 급여 평균보다 높게 받는 사원들의 모든 컬럼과 나이를 조회하는 쿼리를 작성해주세요.

```sql
SELECT *,
FLOOR( (CAST(REPLACE(CURRENT_DATE,'-','') AS UNSIGNED) - 
       CAST(REPLACE(birthdate,'-','') AS UNSIGNED)) / 10000 ) as age
FROM emp

WHERE sal >

(SELECT avg(sal)
FROM emp
WHERE deptno = 40);

```

# 다중 행 서브쿼리

결과가 한 행만 나오는 단일 행 서브쿼리와는 다르게 서브쿼리가 겨로가를 2개 이상 반환하고, 이 결과를 메인쿼리로 전달하는 쿼리
<br>

|기호|뜻|
|-|-|
|IN|하나라도 만족하면 반환|
|ANY|하나라도 만족하면 반환 비교 연산 가능|
|ALL|모두 만족하면 반환 비교 연산 가능|

### 다중 행 서브쿼리 1
지시사항<br>
emp테이블에서 'MANAGER' 업무를 가진 사원 중 제일 높은 급여를 받는 사원보다 높은 급여를 받는 사원의 모든 컬럼을 조회하는 쿼리를 작성 해주세요.

```sql
SELECT * FROM emp;

SELECT *
FROM emp
WHERE sal>
(SELECT max(sal)
 FROM emp
 WHERE job = 'manager'
 );
```

### 다중 행 서브쿼리 2
지시사항<br>
emp테이블에서 각 부서별 급여를 제일 많이 받는 사원들을 출력해주세요.

```sql
SELECT * FROM emp;

SELECT *
FROM emp
WHERE sal = any(
SELECT max(sal)
FROM emp
GROUP BY deptno)
```

### 다중 행 서브쿼리 3
지시사항<br>
emp테이블에서 각 부서별 나이가 제일 많은 사원의 모든 컬럼을 조회하는 쿼리를 작성해주세요.

```sql
SELECT * FROM emp;

SELECT *
FROM emp
WHERE birthdate = any(
SELECT *
FROM emp
GROUP BY deptno)
```

### 하나? 혹은 전부?
지시사항
1. salaries테이블에서 시작일(from_date)이 '2000-12-31' 이전인 사람들의 급여 중 하나의 급여 보다 더 적은 급여를 받은 직원의 급여 정보를 모두 검색해봅시다.
2. salaries테이블에서 시작일(from_date)이 '2000-12-31' 이전인 사람들의 급여 중 모든 급여보다 적은 급여를 받은 직원의 급여에 대한 정보를 모두 검색해봅시다.

```sql
SELECT *
FROM salaries
WHERE salary < any(
SELECT salary
FROM salries
WHERE to_date < '2000-12-31');

SELECT *
FROM salaries
WHERE salary < all(
SELECT salary
FROM salaries
WHERE to_date < '2000-12-31');
```

# 스칼라 서브쿼리

SELECT 절에서 사용하는 서브쿼리<br>
스칼라 서브쿼리는 오로지 한 행만 반환<br>
마치 JOIN을 사용한 것 과 같은 결과를 나타낸다.

### 스칼라 서브쿼리
지시사항
1. salaries 테이블에서 직원 번호(emp_no)과 평균급여(avg_salary) 두 가지를 검색합니다.
2. 평균 급여는 SELECT 절에서 서브쿼리를 이용해 직접 계산하며 별칭을 avg_salary로 지정합니다.
3. 중복 없이 검색하기 위해 DISTINCT 를 이용하세요.

```sql
SELECT DISTINCT emp_no,
(
SELECT avg(salary)
FROM salaries AS A
WHERE A.emp_no = B.emp_no
) AS avg_salary

FROM salaries AS B;

```

### 중간고사 수학왕!
지시사항
1. middle_test테이블에서 10504학번인 경민이보다 중간고사 수학점수를 높거나 같게 받은 학생들을 조회해 주세요.
2. middle_test 테이블과 students 테이블을 join하여 진행하셔야 합니다.

```sql
SELECT *
FROM middle_test
INNER JOIN students
ON middle_test.student_id =
students.student_id
WHERE math >= all
(
SELECT math
FROM middle_test
WHERE student_id = '10504'
    )
```