# JOIN

두 개 이상의 테이블들을 연결 또는 결합하여 데이터를 출력하는 것<br>
연산자에 따라 JOIN 방식 분류 시
- EQUI JOIN
- NON EQUI JOIN

<br>

## EQUI JOIN
두 개의 테이블 간에 서로 정확하게 일치하는 경우를 활용하는 조인<br>
등가 연산자를 사용한 조인을 의미 ex) =

<br>

## Non EQUI JOIN
두 개의 테이블 간에 서로 정확하게 일치하지 않는 경우를 활용하는 조인 <br>
등가 연산자 이외의 연산자들을 사용 ex) >, >=, <=, <, BETWEEN

<br>

## INNER JOIN
내부 JOIN이라고 하며 JOIN 조건에서 동일한 값이 있는 행만 반환<br>
INNER JOIN은 JOIN의 기본값으로 'INNER'생략 가능
<br>
### USING 조건절
같은 이름을 가진 컬럼들 중 원하는 컬럼에 대해서만 선택적으로 등가 조인 가능 SQL Server에서는 지원x

### FROM 절 JOIN 형태 
지시사항<br>
EMPLOYEE테이블과 POSITION_T 테이블에서 직급 ID(POSITION_ID) 가 같은 데이터에 대해 INNER JOIN절 과 ON절을 이용하여 사원 번호(EMPLOYEE_ID), 이름(NAME), 직급 명칭(POSITION_NAME) 을 조회하는 쿼리를 작성하세요.

```sql
DESC EMPLOYEE;
DESC POSITION_T;

-- EMPLOYEE 테이블과 POSITION_T 테이블에 대해 POSITION_ID가 같은 데이터에 대해
-- 사원번호(EMPLOYEE_ID)와 이름(NAME), 직급명칭(POSITION_NAME)을 조회하는 쿼리를 작성해보세요.
SELECT EMPLOYEE_ID, NAME, POSITION_NAME
FROM EMPLOYEE
INNER JOIN POSITION_T
ON EMPLOYEE.POSITION_ID = POSITION_T.POSITION_ID
ORDER BY EMPLOYEE_ID ASC;



```

### FROM절 JOIN 형태
지시사항<br>
STORE테이블과 STORE_TYPE_CODE 테이블에서 가게 타입 코드(store_type_code) 가 같은 데이터에 대해 INNER JOIN절 과 ON절을 이용하여 가게 이름(store_name)과 타입 이름(store_type_name) 을 조회하는 쿼리를 작성하세요.


```sql
DESC STORE;
DESC STORE_TYPE_CODE;

-- STORE 테이블과 STORE_TYPE_CODE 테이블에 대해 store_type_code 컬럼을 이용하여 조인을 실시해,
-- 가게이름(store_name)과 타입이름(store_type_name)을 조회하는 쿼리를 작성해보세요.
SELECT store_name, store_type_name
FROM STORE
INNER JOIN STORE_TYPE_CODE
ON STORE.store_type_code = STORE_TYPE_CODE.store_type_code
ORDER BY store_name ASC;
```

### FROM절 JOIN 형태
지시사항
1. CLASS_REQUEST테이블에 대해 STUDENT 테이블을 INNER JOIN절 과 USING절을 이용하여 결합하고 신청 번호(REQUEST_ID)와 학생 이름(STUDENT_NAME) 을 조회하는 쿼리를 작성하세요.
2. CLASS_REQUEST테이블에 대해 CLASS 테이블을 INNER JOIN절 과 USING절을 이용하여 결합하고 신청 번호(REQUEST_ID)와 과목 이름(CLASS_NAME) 을 조회하는 쿼리를 작성하세요.
3. CLASS_REQUEST테이블에 대해 STUDENT 테이블과 CLASS테이블을 INNER JOIN절 과 USING절을 이용하여 결합하고 신청 번호(REQUEST_ID)와 학생 이름(STUDENT_NAME), 과목 이름(CLASS_NAME) 을 조회하는 쿼리를 작성하세요.

```sql
-- 아래 쿼리는 CLASS_REQUEST, STUDENT, CLASS 테이블의 구조를 나타냅니다. 해당 테이블을 수정할 필요는 없습니다.
DESC CLASS_REQUEST;
DESC STUDENT;
DESC CLASS;

-- 1. CLASS_REQUEST 테이블에 대해 JOIN절과 USING을 이용해 STUDENT테이블과 결합하여
-- 신청번호(REQUEST_ID)와 학생이름(STUDENT_NAME)을 조회하는 쿼리를 작성해보세요.

SELECT REQUEST_ID, STUDENT_NAME
FROM CLASS_REQUEST
INNER JOIN STUDENT
USING(STUDENT_ID)
ORDER BY REQUEST_ID ASC;

-- 2. CLASS_REQUEST 테이블에 대해 JOIN절과 USING을 이용해 CLASS테이블과 결합하여
-- 신청번호(REQUEST_ID)와 과목이름(CLASS_NAME)을 조회하는 쿼리를 작성해보세요.

SELECT REQUEST_ID, CLASS_NAME
FROM CLASS_REQUEST
INNER JOIN CLASS
USING(CLASS_ID)
ORDER BY REQUEST_ID ASC;
-- 3. CLASS_REQUEST 테이블에 대해 JOIN절과 USING을 이용해 STUDENT테이블, CLASS테이블과 결합하여
-- 신청번호(REQUEST_ID)와 학생이름(STUDENT_NAME), 과목이름(CLASS_NAME)을 조회하는 쿼리를 작성해보세요.

SELECT REQUEST_ID, STUDENT_NAME, CLASS_NAME
FROM CLASS_REQUEST
INNER JOIN STUDENT USING(STUDENT_ID)
INNER JOIN CLASS USING(CLASS_ID)
ORDER BY REQUEST_ID ASC;
```

# NATURAL JOIN
두 테이블 간의 동일한 이름을 갖는 모든 칼럼들에 대해 등가 조인을 수행

### FROM절 JOIN 형태 - NATURAL JOIN
지시사항<br>
LOGIN_HISTORY테이블과 MEMBER 테이블에 대해 NATURAL JOIN을 이용하여 로그인 이력 ID(login_history_id), 멤버 이름(member_name), 멤버 이메일(member_email), 로그인 시각(login_date) 을 조회하는 쿼리를 작성하세요.

```sql
-- 아래 쿼리는 LOGIN_HISTORY, MEMBER 테이블의 구조를 나타냅니다. 해당 테이블을 수정할 필요는 없습니다.
DESC LOGIN_HISTORY;
DESC MEMBER;

-- LOGIN_HISTORY테이블과 MEMBER테이블에 대해 NATURAL JOIN을 이용하여 조회하고자 하는 컬럼을 출력해보세요.

SELECT * FROM LOGIN_HISTORY;
SELECT * FROM MEMBER;

SELECT login_history_id, member_name, member_email,login_date
FROM LOGIN_HISTORY 
NATURAL JOIN MEMBER
ORDER BY login_history_id ASC;
```

# CROSS JOIN
JOIN 조건 이 없는 경우 생길 수 있는 모든 데이터의 조합을 조회

### FROM절 JOIN 형태  - CROSS JOIN
지시사항<br>
FIRST_NAME_T 테이블과 LAST_NAME_T 테이블을 CROSS JOIN으로 결합하고 first_name, last_name 을 출력하는 쿼리를 작성하세요.

```sql
DESC FIRST_NAME_T;
DESC LAST_NAME_T;

-- FIRST_NAME_T와 LAST_NAME_T를 크로스조인으로 결합하고, first_name과 last_name을 출력하세요.

SELECT first_name, last_name
FROM FIRST_NAME_T
CROSS JOIN LAST_NAME_T
ORDER BY first_name ASC, last_name ASC;
```

# OUTER JOIN
두 개의 테이블 간에 교집합을 조회하고 한쪽 테이블에만 있는 데이터도 포함시켜서 조회<br>
빈 곳은 NULL 값으로 출력<br>
WHERE 조건절에서 한쪽에만 있는 데이터를 포함시킬 테이블 쪽으로 +를 위치

### FROM절 JOIN 형태 - LEFT OUTER JOIN
지시사항<br>
MEMBER테이블과 MEMBER_EMAIL 테이블에 대해 LEFT OUTER JOIN으로 결합하되 기준 테이블은 MEMER테이블로 진행하여, 멤버 이름(member_name)과 이메일(email) 을 조회하는 쿼리를 작성하세요.

```sql
DESC MEMBER;
DESC MEMBER_EMAIL;

-- MEMBER테이블과 MEMBER_EMAIL테이블에 대해 LEFT OUTER JOIN을 사용하여
-- member_name과 email을 결합하여 출력하세요.
SELECT member_name, email
FROM MEMBER
LEFT OUTER JOIN MEMBER_EMAIL
ON MEMBER.member_id = MEMBER_EMAIL.member_id
ORDER BY member_name ASC;



```

### FROM절 JOIN 형태 - RIGHT OUTER JOIN
지시사항<br>
RESPONSE_DTL테이블과 REQUEST 테이블을 응답 ID(response_id) 를 기준으로 RIGHT OUTER JOIN을 실시하여 요청 ID(request_id), 요청 멤버ID(request_member_id), 응답 내용(response_content) 를 조회하는 쿼리를 작성하세요.

```sql
-- 아래 쿼리는 RESPONSE_DTL, REQUEST 테이블의 구조를 나타냅니다. 해당 테이블을 수정할 필요는 없습니다.
DESC RESPONSE_DTL;
DESC REQUEST;

-- RESPONSE_DTL테이블을 기준으로 REQUEST테이블과 RIGHT OUTER JOIN을 실시하는 쿼리를 작성해보세요.

SELECT request_id, request_member_id, response_content
FROM RESPONSE_DTL
RIGHT OUTER JOIN REQUEST
ON RESPONSE_DTL.response_id = REQUEST.response_id
ORDER BY request_id ASC;
```

### FROM절 JOIN 형태 - FULL OUTER JOIN
지시사항
1. FRONT_VERSION_HIST테이블을 기준으로 BACK_VERSION_HIST 테이블과 버전 ID(version_id) 을 LEFT OUTER JOIN 을 통해 결합하여, 버전 ID(version_id), 프론트 버전 내용(version_content_front), 백 버전 내용(version_content_back) 을 조회하는 쿼리를 작성하세요.
2. FRONT_VERSION_HIST테이블을 기준으로 BACK_VERSION_HIST 테이블과 버전 ID(version_id) 을 RIGHT OUTER JOIN 을 통해 결합하여, 버전 ID(version_id), 프론트 버전 내용(version_content_front), 백 버전 내용(version_content_back) 을 조회하는 쿼리를 작성하세요.
3. 1번과 2번 에서 작성한 쿼리에서 정렬을 실행하는 ORDER BY문만 제거하고, 중복을 제거하는 집합 연산자UNION을 통해 결합하는 쿼리를 작성해주세요.

```sql
-- 아래 쿼리는 FRONT_VERSION_HIST, BACK_VERSION_HIST 테이블의 구조를 나타냅니다. 해당 테이블을 수정할 필요는 없습니다.
DESC FRONT_VERSION_HIST;
DESC BACK_VERSION_HIST;

-- 1. FRONT_VERSION_HIST 테이블을 기준으로 BACK_VERSION_HIST 테이블과 버전ID로 LEFT OUTER JOIN을 해주세요.

SELECT FRONT_VERSION_HIST.version_id, version_content_front, version_content_back
FROM FRONT_VERSION_HIST
LEFT OUTER JOIN BACK_VERSION_HIST
ON FRONT_VERSION_HIST.version_id = BACK_VERSION_HIST.version_id
ORDER BY version_id ASC;

-- 2. FRONT_VERSION_HIST 테이블을 기준으로 BACK_VERSION_HIST 테이블과 버전ID로 RIGHT OUTER JOIN을 해주세요.
SELECT BACK_VERSION_HIST.version_id, version_content_front, version_content_back
FROM FRONT_VERSION_HIST
RIGHT OUTER JOIN BACK_VERSION_HIST
ON FRONT_VERSION_HIST.version_id = BACK_VERSION_HIST.version_id
ORDER BY version_id ASC;

-- 3. 위에서 작성한 두 쿼리에서 ORDER BY를 제거 후, 중복을 제거하는 집합연산자로 결합하고 최종 결과에 대해 정렬을 해주세요.

SELECT FRONT_VERSION_HIST.version_id, version_content_front, version_content_back
FROM FRONT_VERSION_HIST
LEFT OUTER JOIN BACK_VERSION_HIST
ON FRONT_VERSION_HIST.version_id = BACK_VERSION_HIST.version_id
UNION
SELECT BACK_VERSION_HIST.version_id, version_content_front, version_content_back
FROM FRONT_VERSION_HIST
RIGHT OUTER JOIN BACK_VERSION_HIST
ON FRONT_VERSION_HIST.version_id = BACK_VERSION_HIST.version_id
ORDER BY version_id ASC;
```

### FROM절 JOIN 형태 - INNER JOIN/ON/WHERE
지시사항<br>

REQUEST_HIST테이블과 MEMBER 테이블에 대해서 멤버 ID(req_member_id와 member_id) 가 같은 데이터에 대해 INNER JOIN절과 ON절을 이용하고, 요청 상태(req_status) 가 fail인 데이터에 대해서 요청 ID(request_id), 요청 상태(request_status), 멤버 이름(member_name) 을 조회하는 쿼리를 작성하세요.

```sql
-- 아래 쿼리는 REQUEST_HIST, MEMBER 테이블의 구조를 나타냅니다. 해당 테이블을 수정할 필요는 없습니다.
DESC REQUEST_HIST;
DESC MEMBER;

-- REQUEST_HIST 테이블과 MEMBER 테이블을 INNER JOIN하여 조회하되, 요청상태(req_status)가 fail인 정보만 조회하는 쿼리를 작성하세요.

SELECT * FROM REQUEST_HIST;
SELECT * FROM MEMBER;

SELECT request_id, req_status, member_name
FROM REQUEST_HIST
INNER JOIN MEMBER
ON REQUEST_HIST.req_member_id = MEMBER.member_id
WHERE req_status = 'fail'
ORDER BY request_id ASC;
```

### FROM절 JOIN형태 - INNER JOIN/ON/WHERE
지시사항<br>
APPLICATION테이블과 APPLICATION_DTL 테이블을 앱 ID(app_id) 를 기준으로 INNER JOIN을 통해 결합하고, 앱 Device(app_device)가 ‘iphone’ 또는 ‘all’인 데이터에 대해서, 앱 ID(app_id), 앱 이름(app_name), 앱 내용(app_content) 을 조회하는 쿼리를 작성하세요.

```sql
DESC APPLICATION;
DESC APPLICATION_DTL;

-- APPLICATION 테이블과 APPLICATION_DTL 테이블에 대해 app_id를 기준으로 INNER JOIN을 실시하되
-- app_device가 iphone 또는 all인 데이터에 대해서 조회하는 쿼리를 작성하세요.

SELECT * FROM APPLICATION;
SELECT * FROM APPLICATION_DTL;

SELECT APPLICATION.app_id, app_name, app_content
FROM APPLICATION
INNER JOIN APPLICATION_DTL
ON APPLICATION.app_id = APPLICATION_DTL.app_id
WHERE app_device = 'iphone' OR app_device = 'all' 
ORDER BY app_id ASC;
```

### FROM절 JOIN 형태 - LEFT OUTER JOIN/WHERE
지시사항<br>
AIR_ROUTE테이블과 AIRPLANE 테이블에 대해 LEFT OUTER JOIN 을 활용하고 ON 조건에는 경로 ID(route_id)가 같다는 조건 을 표현하여 경로 FROM(route_from)이 Korea인 데이터에 대해서 경로 FROM(route_from), 경로 TO(route_to), 비행기 ID(airplane_id) 를 조회하는 쿼리를 작성하세요.

```sql
DESC AIR_ROUTE;
DESC AIRPLANE;

-- AIR_ROUTE테이블과 AIRPLANE테이블에 대해 route_id가 동일하고 경로가 Korea로 시작하는 데이터를 조회하는 쿼리를 작성하세요.
SELECT * FROM AIR_ROUTE;
SELECT * FROM AIRPLANE;

SELECT route_from, route_to, airplane_id
FROM AIR_ROUTE
LEFT OUTER JOIN AIRPLANE
ON AIR_ROUTE.route_id = AIRPLANE.route_id
WHERE route_from = 'korea'
ORDER BY airplane_id ASC;
```

# 셀프 조인
동일 테이블 사이의 조인<br>
동일 테이블 사이의 조인을 수행하면 테이블과 칼럼 이름이 모두 동일하기 때문에 식별을 위해 별칭 필수

### 셀프 조인
지시사항<br>
EMPLOYEE테이블의 사원 ID(employee_id)와 관리자 ID(manager_id) 를 통해 SELF JOIN 을 실시하여 사원 ID(employee_id), 사원 이름(employee_name), 관리자 이름(employee_name as manager_name) 을 조회하는 쿼리를 작성하세요.

```sql
DESC EMPLOYEE;

-- EMPLOYEE 테이블을 SELF JOIN하여 사원ID, 사원이름, 관리자이름을 조회하는 쿼리를 작성해보세요.

SELECT * FROM EMPLOYEE;

SELECT a.employee_id, a.employee_name, b.employee_name as manager_name
FROM EMPLOYEE AS a, EMPLOYEE AS b
WHERE a.manager_id = b.employee_id
ORDER BY employee_id ASC;
```