# SQL이란?
<br>

### 데이터베이스란 무엇일까?

<br>
여러 사람이 공유해 사용할 목적으로 통합하여 관리되는 데이터의 모음이다.(Mara Db, Amazon Redshift, Oracle DB..)

<br><br>
데이터베이스에서 검색과 분석에 사용되는 기본 사용 방법은 데이터베이스 종류와 상관없이 동일!

<br><br>

### Structured Query Language의 약자로 데이터 베이스에 접근하고 조작하기 위한 표준언어

# 데이터베이스의 종류

<br>

관계형 데이터베이스, 비관계형 데이터베이스
<br>

### 관계형 데이터베이스?
하나 이상의 테이블로 이루어지며 서로 연결된 데이터를 가지고 있음<br>
SQl을 통해 제어 가능

|사번|이름|성별|
|-|-|-|
|001|홍길동|남성|
|002|김철수|남성|
|003|김영희|여성|

컬럼과 레코드로 구성된 표<br>
모든 테이블은 고유의 이름으로 구분

### 검색하기

select<br>
\* 입력하면 모든 데이터 검색<br>
DITINCT : 뒤에 나오는 컬럼의 중복을 제거하고 보여준다<br>
2개 이상의 컬럼을 적으면, 한 쪽 컬럼에 중복이 있어도 다른 쪽 컬럼의 값이 다르면 다르게 취급한다.

# 실습 1 - 테이블 구조 파악

지시사항
1. DESC 문을 이용해 employees의 구조를 출력해보세요.
2. DESC 문을 이용해 salaries의 구조를 출력해보세요.

```sql
desc employees ;
desc salaries;
```

# 실습 2 - 데이터 조회

지시사항<br>
book의 정보를 검색하기 위해 오른쪽 코드 창에 다음과 같이 입력해 보세요.
```sql
SELECT * FROM book
```

# 실습 3 - 데이터 조회

지시사항<br>
1. SELECT문을 이용해 employees 테이블을 검색 해봅시다.
2. 오른쪽 코드 창에 다음과 같이 입력해 보세요
```sql
SELECT *
from employees ;
```

# 실습 4 - 데이터 조회

지시사항
1. book테이블에서 책의 제목과 저자만 골라서 조회하여 봅시다. 단 제목, 저자 순으로 출력하도록 합시다.
2. book테이블의 각 컬럼은 다음과 같습니다.

```sql
DESC book;
SELECT title, author
FROM book
```

# 실습 5 - 데이터 고유값만 출력

지시사항
1. DISTINCT를 이용해 중복 없이 직원 번호를 검색해보세요.
2. 직원 번호인 emp_no 컬럼만 검색합니다.

```sql
select distinct emp_no
from salaries;

select emp_no
from salaries;
```

# 조건을 추가하여 검색하기

<br>

where : 검색하고자 하는 데이터의 조건을 설정할 수 있는 명령

# 실습 6 - 조건추가하기1

지시사항
1. 앞서 배운 WHERE를 이용해 Joanne Kathleen Rowling작가의 책만 조회해 봅시다.
2. 출력할 때는 \*을 이용해 모든 컬럼을 출력하도록 합시다.
3. book테이블의 각 컬럼은 다음과 같습니다.

|컬럼명|내용|자료형|
|-|-|-|
|id|id|정수|
|title|제목|문자열|
|author|저자|문자열|
|publisher|출판사|문자열|
|date_recieved|구매일|날짜|

```sql
DESC book;
select *
from book
where author = 'Joanne Kathleen Rowling';
```

# 실습 7 - 조건추가하기2

지시사항
1. WHERE을 이용해 gender가 'M' 인 직원들을 검색하세요.
2. 검색할 때는 \*을 이용해 모든 컬럼을 검색하도록 합시다.

```sql
select *
from employees
where gender = 'M';
```

# 실습 8 - 여러조건추가하기1

지시사항
score테이블에서 수학(math) 점수가 80점 초과, 국어(korean) 점수가 90점 이상인 학생의 정보를 검색해보세요.

```sql
select *
from score
where math > 80 and korean>=90
```

# 실습 9 - 여러조건추가하기2

지시사항
1. 여자 직원들 중에 first_name이 'Chirstian' 인 직원들을 검색해보세요.
2. 조회할 때는 모든 컬럼을 검색하도록 합니다.

```sql
select *
from employees
where gender = 'F' and first_name = 'Chirstian';
```

# 실습 10 - 논리연산자를 활용하여 조건 만들기

지시사항
1. 논리연산자를 이용해 문제에 제시된 복잡한 조건을 만족하는 쿼리를 작성하세요.
2. 조회할 때는 모든 컬럼을 검색하도록 합니다.

```sql
select *
from employees
where (first_name = 'Chirstian' or first_name = 'Georgi')
and gender = 'M'
and hire_date != '1986-06-26';
```

# 실습 11 - 범위지정하여 검색하기

지시사항
1. 국어, 영어, 수학 점수 중 하나라도 100점인 학생을 검색해보세요.
2. 3과목 모두 70~95점 사이인 학생을 검색해보세요.
3. 조회할 때는 모든 컬럼을 조회하도록 합니다.
4. score 테이블의 각 컬럼은 다음과 같습니다.

|컬럼명|내용|자료형|
|-|-|-|
|name|이름|문자열|
|korean|국어 성적|정수|
|english|영어 성적|정수|
|math|수학 성적|정수|

```sql
DESC score;

-- 짜장면을 받을 수 있는 학생을 조회하는 쿼리를 작성해주세요.

select *
from score
where korean = '100' or english = '100' or math = '100';

-- 과자를 받을 수 있는 학생을 조회하는 쿼리를 작성해주세요.

select *
from score
where 70<korean<95
and 70<english<95
and 70<math<95;
```

# 실습 12 - 범위지정하여 검색하기

지시사항
1. SELECT문을 이용해서 1980년에서 1989년 사이에 입사한 직원의 모든 컬럼을 검색해보세요.
2. SELECT문을 이용해서 1990년에서 1999년 사이에 입사한 직원의 모든 컬럼을 검색해보세요.

```sql
-- 1980~1989년도에 입사한 직원을 검색하세요.
select *
from employees
where hire_date between '1980-01-01' and '1989-12-31';

-- 1990~1999년도에 입사한 직원을 검색하세요.
select *
from employees
where hire_date between '1990-01-01' and '1999-12-31';
```

# 실습 13 - 여러 개의 or간결하게 사용하기

지시사항
1. 다음 작가가 쓴 책들만 골라서 출력해 봅시다.
- William Shakespeare
- John Ronald Reuel Tolkien
- Joanne Kathleen Rowling
2. 출력할 때는 \*을 이용해 모든 컬럼을 출력하도록 합니다.
3. book테이블의 각 컬럼은 다음과 같습니다.

```sql

DESC book;

-- 해당하는 작가가 쓴 책만 골라서 출력합니다.
select * 
from book
where author in ('William Shakespeare', 'John Ronald Reuel Tolkien', 'Joanne Kathleen Rowling' );
```

# 실습 14 - 여러 개의 or간결하게 사용하기

지시사항
1. IN을 이용해서 다음의 이름(last_name)을 가진 사람들만 골라서 검색해봅시다.

- Michaels
- Genin
- Peha
2. 검색할 때는 \*을 이용해 모든 컬럼을 검색하도록 합니다.

```sql
select *
from employees
where last_name in ('Michaels', 'Genin', 'Peha');
```