# 데이터 개수 세어보기

COUNT : 검색한 결과의 데이터의 개수를 가져오는 내장함수(NULL인 데이터는 제외)

### 실습1 데이터 세어보기
지시사항
1. book 테이블을 COUNT함수와 \*을 이용해 조회해 봅시다.
2. user 테이블을 COUNT함수와 \*을 이용해 조회해 봅시다.

```sql
#user테이블의 자료의 수를 차례대로 조회해 봅시다.
select count(*)
from book;

select count(*)
from user;
```

### 실습2 데이터 세어보기
지시사항<br>
employees 테이블을 COUNT함수와 \*을 이용해 검색해봅시다.

```sql
select count(*)
from employees
```

# 데이터 일부만 출력하기

LIMIT : 테이블에서 출력하고자 하는 데이터의 개수를 제한하는 명령

### 실습3 데이터 상단 값만 출력
지시사항
1. book테이블에서 LIMIT를 덧붙여 책 정보 5개만을 조회해보세요.
2. 출력할 때는 모든 컬럼을 조회하도록 합시다.
3. book테이블의 내용은 다음과 같습니다.

|컬럼명|내용|자료형|
|-|-|-|
|id|id|정수|
|title|제목|문자열|
|author|저자|문자열|
|publisher|출판사|문자열|
|date_recieved|구매일|날짜|

```sql
-- book테이블의 모든 컬럼을 조회해 봅시다. 단 5권만 잘라서 출력해야 합니다.
select *
from book
limit 5
```

# 데이터의 합 구하기

SUM : 지정한 컬럼들의 값을 모두 더하여 총점을 구해주는 내장함수

### 실습4 데이터 합 구하기 
지시사항<br>
salaries 테이블에서 salary의 합을 구해서 검색해봅시다.

```sql
-- salary테이블의 연봉의 합을 구해봅시다.

select sum(salary)
from salaries
```

# 데이터의 평균 구하기

AVG : 지정한 컬럼들의 평균값을 구해주는 내장함수

### 실습5 데이터 평균 구하기
지시사항
1. grade 테이블에서 모든 국어 점수의 평균, 모든 영어 점수의 평균, 모든 수학 점수의 평균 총 세개의 값을 구해봅시다.
2. 국어, 영어, 수학 순서로 하나의 SELECT문을 이용해 조회합니다.
3. grade테이블의 각 컬럼은 다음과 같습니다.

|컬럼명|내용|자료형|
|-|-|-|
|name|이름|문자열|
|korean|국어성적|정수|
|english|영어성적|정수
|math|수학성적|정수|

```sql

DESC grade;
-- 학생들의 성적의 평균을 조회합니다.
select avg(korean), avg(english), avg(math)
from grade;
```

### 실습 6 데이터 평균 구하기
지시사항<br>
salaries 테이블에서 salary의 평균을 구해서 검색해봅시다.

```sql

select avg(salary)
from salaries
```

# 데이터 최댓값 찾기

MAX : 테이블에 존재하는 데이터에서 최댓값을 가져오는 내장함수(숫자형 뿐만 아니라 문자형도 가능)

### 실습7 데이터 최대값 찾기
지시사항
1. 국어시험에서 가장 높은 점수가 몇 점이었는지 student테이블에서 조회해보세요.
2. student테이블의 각 컬럼은 다음과 같습니다.

|컬럼명|내용|자료형|
|-|-|-|
|name|이름|문자열|
|korean|국어성적|정수|
|english|영어성적|정수
|math|수학성적|정수|

```sql

DESC student;

SELECT max(korean)
FROM student;
```

# 데이터 최솟값 찾기

MIN : 테이블에 존재하는 데이터에서 최솟값을 가져오는 내장함수(숫자형뿐만 아니라 문자형도 가능)

### 실습8 데이터 최솟값 찾기
지시사항<br>
salaries테이블에서 MIN함수를 이용해 가장 적은 연봉액(salary)을 구해봅시다.

```sql
SELECT min(salary)
FROM salaries
```