# 데이터에서 유사한 값을 찾고 싶을 때?

LIKE : 특정 문자가 포함된 문자열을 찾고 싶을 때 사용하는 명령
- LIKE '%왕자' : '왕자'로 끝나는 책 검색
- LIKE '왕자%' : '왕자'로 시작하는 책 검색
- LIKE '%왕자%' : '왕자'가 포함되는 책 검색

### 실습1 데이터에서 유사한 값 찾기 - like

지시사항
1. employees 테이블에서 '1997-07-07' 일 입사한 회원을 검색해보세요.
2. 검색할 때는 모든 컬럼을 검색하도록 합시다.

```sql
select * 
from employees
where
hire_date like '1997-07-07'
```

### 실습2 데이터에서 유사한 값 찾기 - like

지시사항
1. book테이블에서 The Little로 시작하는 책을 검색해보세요.
2. book테이블에서 and가 포함된 책을 검색해보세요.
3. book테이블에서 Rings로 끝나는 책을 검색해보세요.
4. 출력할 때는 모든 컬럼을 출력하도록 합시다.
5. book테이블의 각 컬럼은 다음과 같습니다.

|컬럼명|내용|자료형|
|-|-|-|
|id|id|정수|
|title|제목|문자열|
|author|저자|문자열|
|publisher|출판사|문자열|
|date_recieved|구매일|날짜|

```sql
-- 책들의 정보가 담겨있는 테이블의 구조를 조회합니다. 수정하실 필요는 없습니다.
DESC book;
-- 아래에 제목이 The Little로 시작하는 책만 조회하는 쿼리를 작성해주세요.
select *
from book
where title like 'The Little%';
-- 아래에 제목에 and가 포함된 책만 조회하는 쿼리를 작성해주세요.
select *
from book
where title like '%and%';
-- 아래에 제목이 Rings로 끝나는 책만 조회하는 쿼리를 작성해주세요.
select *
from book
where title like '%Rings';
```

### 실습3 데이터에서 유사한 값 찾기 - like

지시사항
1. employees 테이블에서 hire_date에 7이 들어가는 직원들을 검색해보세요.
2. 검색할 때는 모든 컬럼을 검색하도록 합시다.

```sql
select *
from employees
where hire_date like '%7%'
```

# 데이터 정렬하기

ORDER BY : 데이터를 검색할 때 정렬하여 결과를 출력하는 명령어<br>
기본적으로 DESC -> 높은 데이터부터 정렬하여 검색

### 실습4 데이터 정렬하기 
지시사항
1. book 테이블에서 SELECT문에 ORDER BY문을 추가하여 책 제목을 기준으로 오름차순 정렬로 조회해 봅시다.
2. 출력할 때는 \*을 이용해 모든 컬럼을 출력하도록 합니다.
3. book 테이블의 각 컬럼은 다음과 같습니다.

|컬럼명|내용|자료형|
|-|-|-|
|id|id|정수|
|title|제목|문자열|
|author|저자|문자열|
|publisher|출판사|문자열|
|date_recieved|구매일|날짜|

```sql
--- book 테이블의 구조를 조회합니다. 수정하실 필요는 없습니다.
DESC book;
-- book 테이블의 내용을 조회해 봅시다. 이때 책 제목을 기준으로 오름차순으로 조회해 봅시다.

select *
from book
order by title asc;
```

### 실습5 데이터 정렬하기
지시사항
1. salaries 테이블에서 SELECT문에 ORDER BY문을 추가하여 salary를 기준으로 오름차순 정렬로 검색해봅시다.
2. 검색할 때는 \*을 이용해 모든 컬럼을 검색하도록 합니다.

```sql
-- salaries 테이블의 내용을 출력해 봅시다. 이때 연봉액 제목을 기준으로 오름차순으로 출력해 봅시다.

select * 
from salaries
ORDER BY salary asc;


```

# 데이터 삽입하기
INSERT : 관계형 데이터베이스의 테이블에 값을 저장하는 명령

### 실습6 데이터 삽입하기
지시사항<br>
아래의 정보를 employees 테이블에 넣어보세요.<br>
emp_no : 10001<br>
birth_date : '1953-09-02'<br>
first_name : 'Georgi'<br>
last_name : 'Facello'<br>
gender : 'M'<br>
hire_date : '1986-06-26'<br>
superior_no : NULL

```sql
-- INSERT문을 이용해 쿼리를 작성해 보세요.
insert into
employees(emp_no, birth_date, first_name, last_name, gender, hire_date, superior_no)
values(10001, '1953-09-02', 'Georgi','Facello','M','1986-06-26', NULL);

SELECT * FROM employees;

```

# 데이터 수정하기
UPDATE: 관계형 데이터베이스의 테이블에서 이미 저장된 값을 수정하는 명령

### 실습7 데이터 수정하기
지시사항
1. Elice회원의 id는 1000번입니다. rental 테이블에 1000번 회원의 반납시간을 '2019-04-05 12:00:30' 로 바꿔봅시다.
2. rental 테이블은 아래와 같은 구조를 가집니다.

|컬럼명|내용|자료형|
|-|-|-|
|id|대여기록id|정수|
|book_id|책id|정수|
|user_id|사용자id|정수|
|rental_begin_date|대출시각|날짜와 시각|
|rental_end_date|반납시간|날짜와시각|

```sql
DESC rental;

-- 반납 시간을 수정하는 쿼리를 작성해 보세요.
update rental
set rental_end_date = '2019-04-05 12:00:30'
where id = 1000;
-- 대출 반납 상태를 조회합니다. 반납시간이 올바르게 추가되었는지는 실행버튼을 통해 확인할 수 있습니다.
SELECT * FROM rental;
```

### 실습8 데이터 수정하기
지시사항<br>
employees 테이블에서 emp_no이 10001인 직원의 생년월일(birth_date)을 '1953-09-01' 으로 수정해보세요.

```sql
-- UPDATE문을 이용해 쿼리를 작성해 보세요.
update employees
set birth_date = '1953-09-01'
where emp_no = '10001';

SELECT * FROM employees;
```

# 데이터 삭제하기
DELETE: 관계형 데이터베이스의 테이블에서 이미 저장된 값을 삭제하는 명령

### 실습9 데이터 삭제하기
지시사항
1. book 테이블에서 아래 제목을 가진 책들을 데이터베이스에서 삭제하세요.
- Harry Potter and the Philosopher's Stone
- The Lord of the Rings
2. book 테이블의 내용은 다음과 같습니다.

|컬럼명|내용|자료형|
|-|-|-|
|id|id|정수|
|title|제목|문자열|
|author|저자|문자열|
|publisher|출판사|문자열|
|date_recieved|구매일|날짜|

```sql
-- 잃어버린 책 2권을 book 테이블에서 삭제하여 봅시다.
delete
from book
where title = 'Harry Potter and the Philosopher\'s Stone';

delete
from book
where title = 'The lord of the Rings';
-- 전체 책의 정보와 회원정보를 조회합니다. 수정하실 필요는 없습니다.
SELECT * FROM book;
```

### 실습10 데이터 삭제하기
지시사항<br>
employees 테이블에서 퇴사한 직원 'Maliniak Kyoichi' 을 데이터베이스에서 삭제해봅시다. 'Maliniak Kyoichi' 의 직원 번호는 10005입니다.

```sql
-- DELETE문을 이용해 쿼리를 작성해 보세요.
DELETE 
from employees
where emp_no = '10005';

SELECT * FROM employees;
```