# 데이터 그룹 짓기
GROUP BY<br>
더 잘 활용하려면 SUM, AVG, COUNT, MAX, MIN 활용

### 실습1 데이터 그룹짓기 - Group By
지시사항
1. rental테이블의 user_id컬럼과 해당 컬럼값에 해당하는 데이터의 수를 차례대로 조회해 보세요.
2. rental테이블의 내용은 다음과 같습니다.

|컬럼명|내용|자료형|
|-|-|-|
|id|대여기록id|정수|
|book_id|책id|정수|
|user_id|사용자id|정수|
|rental_begin_date|대출시각|날짜와 시각|
|rental_end_date|반납시간|날짜와 시각|

```sql
DESC rental;

SELECT user_id, count(*)
from rental
group by user_id
```

### 실습2 데이터 그룹짓기 - Group By
지시사항
1. salaries테이블에서 GROUP BY문을 이용해 직원별로 몇 번의 연봉을 받았는지 확인해 봅시다.
2. salaries 테이블의 emp_no 컬럼과 해당 컬럼값에 해당하는 데이터의 수를 차례대로 검색해보세요.

```sql
SELECT emp_no, count(salary)
FROM salaries
group by emp_no
```

# 데이터 그룹에 조건을 적용 할려면?

HAVING

### 실습3 데이터 그룹에 조건 적용 - Having
지시사항
1. rental테이블의 user_id 컬럼과 해당 컬럼값에 해당하는 데이터의 수를 차례대로 출력해 보세요.
2. 출력할 때 데이터의 수가 2 이상인 경우만 출력하도록 해 보세요.
3. rental테이블의 내용은 다음과 같습니다.

|컬럼명|내용|자료형|
|-|-|-|
|id|대여기록id|정수|
|book_id|책id|정수|
|user_id|사용자id|정수|
|rental_begin_date|대출시각|날짜와 시각|
|rental_end_date|반납시간|날짜와 시각|

```sql
DESC rental;

SELECT user_id, count(*)
FROM rental
GROUP BY user_id
HAVING count(user_id)>1
```

### 실습4 데이터 그룹에 조건 적용 - HAVING
지시사항
1. salaries 테이블에서 HAVING을 이용해 연봉을 10번 이상 받은 직원만 검색해보세요.
2. salaries 테이블의 emp_no 컬럼과 해당 컬럼값에 해당하는 데이터의 수를 차례대로 검색해보세요.

```sql
select emp_no, count(*)
from salaries
group by emp_no
having count(emp_no)>9;
```

# 두 테이블의 정보를 한번에 조회

INNER JOIN<br>
ON을 써서 조건을 적용할 수 있음

### 실습5 두 테이블간 교집합 - INNER JOIN
지시사항
1. rental테이블의 모든 컬럼을 조회하되 user테이블과 연결해 조회해 보세요.
2. rental테이블의 내용은 다음과 같습니다.

|컬럼명|내용|자료형|
|-|-|-|
|id|대여기록id|정수|
|book_id|책id|정수|
|user_id|사용자id|정수|
|rental_begin_date|대출시각|날짜와 시각|
|rental_end_date|반납시간|날짜와 시각|

3. user테이블의 내용은 다음과 같습니다.

|컬럼명|내용|자료형|
|-|-|-|
|id|id|정수|
|name|이름|문자열|
|email|이메일|문자열|
|phone|전화번호|문자열|
|address|주소|문자열|

```sql
SELECT *
FROM rental
INNER JOIN user;
```

### 실습6 두 테이블간 교집합 - INNER JOIN
지시사항
1. \*을 사용해 rental 테이블의 모든 컬럼을 조회하되 user테이블과 연결해 조회해 보세요.
2. 연결할 때에는 user테이블의 id와 rental테이블의 user_id를 기준으로 연결해 보세요.
3. rental테이블의 내용은 다음과 같습니다.

|컬럼명|내용|자료형|
|-|-|-|
|id|대여기록id|정수|
|book_id|책id|정수|
|user_id|사용자id|정수|
|rental_begin_date|대출시각|날짜와 시각|
|rental_end_date|반납시간|날짜와 시각|

4. user 테이블의 내용은 다음과 같습니다.

|컬럼명|내용|자료형|
|-|-|-|
|id|id|정수|
|name|이름|문자열|
|email|이메일|문자열|
|phone|전화번호|문자열|
|address|주소|문자열|

```sql
SELECT *
FROM rental
INNER JOIN user
ON renatl.user_id = user.id
```

### 실습7 두 테이블간 교집합 - INNER JOIN
지시사항
1. INNER JOIN을 이용해 두 테이블 salaries 테이블과 employees 테이블을 연결하여 검색해보세요.
2. 연결할 때는 salaries 테이블의 emp_no와 employees 테이블의 emp_no를 기준으로 연결해 보세요.
3. salaries 테이블의 모든 컬럼을 검색하되 employees 테이블과 연결해 검색해 보세요.

```sql
SELECT*
FROM salaries
INNER JOIN employees
ON salaries.emp_no = employees.emp_no;
```

# 왼쪽 테이블의 모든 값을 포함하여 연결하기
LEFT JOIN

### 실습8 왼쪽 테이블의 모든 값과 교집합 - LEFT JOIN
지시사항
1. rental테이블의 모든 컬럼을 조회하되 user테이블과 연결해 조회해 보세요.
2. 연결할 때에는 user테이블의 id와 rental테이블의 user_id를 기준으로 연결해 보세요.
3. 이때 rental테이블이 중심이 되도록 연결해 보세요.
4. rental테이블의 내용은 다음과 같습니다.

|컬럼명|내용|자료형|
|-|-|-|
|id|대여기록id|정수|
|book_id|책id|정수|
|user_id|사용자id|정수|
|rental_begin_date|대출시각|날짜와 시각|
|rental_end_date|반납시간|날짜와 시각|

4. user 테이블의 내용은 다음과 같습니다.

|컬럼명|내용|자료형|
|-|-|-|
|id|id|정수|
|name|이름|문자열|
|email|이메일|문자열|
|phone|전화번호|문자열|
|address|주소|문자열|

```sql
SELECT * 
FROM rental
LEFT JOIN user
ON rental.user_id = user.id;

```

### 실습9 왼쪽 테이블의 모든 값과 교집합 - LEFT JOIN
지시사항
1. salaries 테이블의 모든 컬럼을 검색하되 employees 테이블과 연결해 검색해 보세요.
2. 연결할 때에는 salaries 테이블의 emp_no와 employees 테이블의 emp_no를 기준으로 연결해 보세요.
3. 이때 LEFT JOIN을 이용해 salaries 테이블이 중심이 되도록 연결해 보세요.

```sql
SELECT * 
FROM salaries
LEFT JOIN employees
ON salaries.emp_no = employees.emp_no


```

# 오른쪽 테이블의 모든 값을 포함하여 연결하기
RIGHT JOIN

### 실습 10 오른쪽 테이블 의 모든 값과 교집합 - RIGHT JOIN
지시사항
1. rental테이블의 모든 컬럼을 조회하되 user테이블과 연결해 조회해 보세요.
2. 연결할 때에는 user테이블의 id와 rental테이블의 user_id를 기준으로 연결해 보세요.
3. 이때 user테이블의 id가 모두 조회 되도록 RIGHT JOIN을 이용해 연결해 보세요.
4. rental테이블의 내용은 다음과 같습니다.

|컬럼명|내용|자료형|
|-|-|-|
|id|대여기록id|정수|
|book_id|책id|정수|
|user_id|사용자id|정수|
|rental_begin_date|대출시각|날짜와 시각|
|rental_end_date|반납시간|날짜와 시각|

4. user 테이블의 내용은 다음과 같습니다.

|컬럼명|내용|자료형|
|-|-|-|
|id|id|정수|
|name|이름|문자열|
|email|이메일|문자열|
|phone|전화번호|문자열|
|address|주소|문자열|

```sql
SELECT *
FROM rental
RIGHT JOIN user
ON user.id = rental.user_id
```

### 실습 11 오른쪽 테이블 의 모든 값과 교집합 - RIGHT JOIN
지시사항
1. salaries 테이블의 모든 컬럼을 검색하되 employees 테이블과 연결해 검색해 보세요.
2. 연결할 때에는 salaries 테이블의 emp_no와 employees 테이블의 emp_no를 기준으로 연결해 보세요.
3. 이때 employees 테이블이 중심이 되도록 연결해 보세요.

```sql
SELECT * 
FROM salaries
RIGHT JOIN employees
ON salaries.emp_no = employees.emp_no
```